.siteHeader {
	margin: 0px auto;
	border-spacing: 25px;
    border-collapse: separate;
	max-width: 1077px;
}

*{
   margin: 0;
   padding: 0;
   /* ect styles */
}

.itemTable {
	margin: 0px auto;
	border-spacing: 20px;
    border-collapse: separate;
	max-width: 900px;
	display: block;
	table-layout: fixed
}

tr.topRow > th {
	padding-bottom: 1em;
}

.reflow-add-to-cart.ref-product-controls > .ref-button {
	background-size: contain;
	color:transparent !important;
	max-width: 180px;
    max-height: 150px;
	min-width: 180px;
	min-height: 150px;
    background-size: 100% 100%;
	border-radius: 0px;
}

.FigureDrawingAddToCartButton > .reflow-add-to-cart.ref-product-controls > .ref-button {
	background-image: url('../JojoWebsite/images/Books/Figure Drawing/boxc_buy_180x150_figure_12.png');
}

.AddSecondItem > .reflow-add-to-cart.ref-product-controls > .ref-button {
	background-image: url('../JojoWebsite/images/Books/Reddit/boxc_buy_180x150_reddit_12.png');
}

.ref-button:hover {
	color:transparent;
}